@charset "UTF-8";

.card-message {
	color: rgb(248, 47, 98);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: center;
    padding: 15px 0px 0px;
}
.basic-card-num01 {
    color: rgb(218, 66, 65);
    font-size: 11px;
    letter-spacing: -0.37px;
    line-height: 11px;
    text-align: left;
    height: 11px;
    margin: 3px 0px 0px;
}
.basic-card-num03 {
    color: rgb(218, 66, 65);
    font-size: 11px;
    letter-spacing: -0.37px;
    line-height: 11px;
    text-align: left;
    height: 11px;
    margin: 3px 0px 0px;
}
.basic-card-num06 {
    color: rgb(218, 66, 65);
    font-size: 11px;
    letter-spacing: -0.37px;
    line-height: 11px;
    text-align: left;
    height: 11px;
    margin: 3px 0px 0px;
}
.basic-card-num12 {
    color: rgb(218, 66, 65);
    font-size: 11px;
    letter-spacing: -0.37px;
    line-height: 11px;
    text-align: left;
    height: 11px;
    margin: 3px 0px 0px;
}