@charset "UTF-8";

:root{
	--size:-200%;
	--size2:-100%;
	
	--bannerSize3p:-200%;
	--bannerSize4p:-300%;
	
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	/* background:black; */
	/* color:white; */
	/* border-color:black; */
	font-family:sans-serif;
	
}
a:hover{
	color: white !important;
}
/* 배너 */
ul, li {
	list-style:none;
}
.bannerbox {
	max-width:90%;
	margin:0 auto;
	position:relative;
/* 	max-height:400px; */
	
}

.bannerbox .bannerlist {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
	/* background:red; */
}
.bannerbox .bannerlist .banneritem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	background-color:#fff;
	width:100%;
	transition:all 1s;
	background:none;
}
.bannerbox .bannerlist .banneritem .banneritemDiv{
	display:inline-block;
	max-width:100%;
	
}
.bannerbox .bannerlist .banneritem .banneritemDiv > a {
	display:block;
	width:auto;
	position:relative;
	text-align:center;
}
.bannerbox .bannerlist .banneritem .banneritemDiv> a img {
	/* max-width:20%; 
	float:left; */
	border-radius: 10px;
	max-width:95%;
}
.bannerbox .banner-control [class*="control"] label {
	position:absolute;
	/* z-index:9999; */
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	/* border-radius:50%; */
	cursor:pointer;
}
.bannerbox .banner-control [class*="control"] label.prev {
	left:-50px;
	background:#333 url('/images/video/left-arrow.png') center center / 50% no-repeat;
}
.bannerbox .banner-control [class*="control"] label.next {
	right:-50px;
	background:#333 url('/images/video/right-arrow.png') center center / 50% no-repeat;}

[name="banner"] {
	display:none;
}
#banner01:checked ~ .bannerlist .banneritem {
	left:0;
}
#banner02:checked ~ .bannerlist .banneritem {
	left:-100%;
}
#banner03:checked ~ .bannerlist .banneritem {
	left:var(--bannerSize3p);
}
#banner04:checked ~ .bannerlist .banneritem {
	left:var(--bannerSize4p);
}
#banner05:checked ~ .bannerlist .banneritem {
	left:-400%;
}
#banner06:checked ~ .bannerlist .banneritem {
	left:-500%;
}
#banner07:checked ~ .bannerlist .banneritem {
	left:-600%;
}


.banner-control [class*="control"] {
	display:none;
}
#banner01:checked ~ .banner-control .control01 {
	display:block;
}
#banner02:checked ~ .banner-control .control02 {
	display:block;
}
#banner03:checked ~ .banner-control .control03 {
	display:block;
}
#banner04:checked ~ .banner-control .control04 {
	display:block;
}
#banner05:checked ~ .banner-control .control05 {
	display:block;
}
#banner06:checked ~ .banner-control .control06 {
	display:block;
}
#banner07:checked ~ .banner-control .control07 {
	display:block;
}
/* 메인 슬라이드 끝 */

/* 상단버튼 시작 */
hr{
	/* background:grey; */
	height:1px;
	border:0;
/* 	border-color:red; */
}
.head-category{
	top:0;
	position:sticky;
	/* z-index:9999; */
}

.head-category > button{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	font-size:1.5em;
	background:black;
	border-color:grey;
	/* border-width:15px; */
	border-radius: 30px 30px 30px 30px/50% 50% 50% 50%;
	/* top-left-x top-right-x bottom-right-x bottom-left-x /
	top-left-y top-right-y bottom-right-y bottom-left-y */
}
.head-category > button.category{
	background:white;
	color:black;
	border-color:red;
 }
/* 상단버튼 끝 */


/* 영화 basic컨텐츠 */
.topTen_slidebox {
	max-width:90%;
	margin:0 auto;
	position:relative;
}
.topTen_slidebox .topTen_slidelist {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
}
.topTen_slidebox .topTen_slidelist .topTen_slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
/* 	background:black;
 */	width:100%;
	transition:all 1s;
	
}
.topTen_slidebox .topTen_slidelist .topTen_slideitem .topTen_slideDiv{
	display:block;
	width:20%;
	float:left;
}
	
.topTen_slidebox .topTen_slidelist .topTen_slideitem .topTen_slideDiv > a {
	display:block;
	text-align:center;
	position:relative;
	transition:0.3s;
}
.topTen_slidebox .topTen_slidelist .topTen_slideitem .topTen_slideDiv > a:hover {
	transform:scale(1.3);
	z-index:100;
	transform-origin:50% 100%;
}
.topTen_slidebox .topTen_slidelist .topTen_slideitem .topTen_slideDiv > a div{
	text-align: left;
    font-weight: bold;
    font-size: 5em;
    position: absolute;
    left: -3%;
    top: -5%;
    background: transparent;
}

.topTen_slidebox .topTen_slidelist .topTen_slideitem .topTen_slideDiv > a img {
	max-width:90%;
	border-radius:5px;
	
}

.topTen_slidebox .topTen_slide-control [class*="control"] label {
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
.topTen_slidebox .topTen_slide-control [class*="control"] label.prev {
	left:-50px;
	background:#333 url('/images/video/left-arrow.png') center center / 50% no-repeat;
}
.topTen_slidebox .topTen_slide-control [class*="control"] label.next {
	right:-50px;
	background:#333 url('/images/video/right-arrow.png') center center / 50% no-repeat;}

[name="topTen_slide"] {
display:none;
}
#topTen_slide01:checked ~ .topTen_slidelist .topTen_slideitem {
left:0;
}
#topTen_slide02:checked ~ .topTen_slidelist .topTen_slideitem {
left:var(--size2);
}
#topTen_slide03:checked ~ .topTen_slidelist .topTen_slideitem {
left:var(--size);

}


.topTen_slide-control [class*="control"] {
display:none;
}
#topTen_slide01:checked ~ .topTen_slide-control .control01 {
display:block;
}
#topTen_slide02:checked ~ .topTen_slide-control .control02 {
display:block;
}
#topTen_slide03:checked ~ .topTen_slide-control .control03 {
display:block;
}
#topTen_slide04:checked ~ .topTen_slide-control .control04 {
display:block;
}

/* 영화 basic컨텐츠 끝 */




/*TVEXCLUSIVE컨텐츠 */
.tvExclusive_slidebox {
	max-width:90%;
	margin:0 auto;
	position:relative;
}
.tvExclusive_slidebox .tvExclusive_slidelist {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
}
.tvExclusive_slidebox .tvExclusive_slidelist .tvExclusive_slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
/* 	background:black;
 */	width:100%;
	transition:all 1s;
	
}
.tvExclusive_slidebox .tvExclusive_slidelist .tvExclusive_slideitem .tvExclusive_slideDiv{
	display:block;
	width:20%;
	float:left;
}
	
.tvExclusive_slidebox .tvExclusive_slidelist .tvExclusive_slideitem .tvExclusive_slideDiv > a {
	display:block;
	text-align:center;
	position:relative;
	transition:0.3s;
}
.tvExclusive_slidebox .tvExclusive_slidelist .tvExclusive_slideitem .tvExclusive_slideDiv > a:hover {
	transform:scale(1.3);
	z-index:100;
	transform-origin:50% 100%;
}
.tvExclusive_slidebox .tvExclusive_slidelist .tvExclusive_slideitem .tvExclusive_slideDiv > a div{
	text-align: left;
    font-weight: bold;
    font-size: 5em;
    position: absolute;
    left: -3%;
    top: -5%;
    background: transparent;
}

.tvExclusive_slidebox .tvExclusive_slidelist .tvExclusive_slideitem .tvExclusive_slideDiv > a img {
	max-width:90%;
	border-radius:5px;
	
}

.tvExclusive_slidebox .tvExclusive_slide-control [class*="control"] label {
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
.tvExclusive_slidebox .tvExclusive_slide-control [class*="control"] label.prev {
	left:-50px;
	background:#333 url('/images/video/left-arrow.png') center center / 50% no-repeat;
}
.tvExclusive_slidebox .tvExclusive_slide-control [class*="control"] label.next {
	right:-50px;
	background:#333 url('/images/video/right-arrow.png') center center / 50% no-repeat;}

[name="tvExclusive_slide"] {
display:none;
}
#tvExclusive_slide01:checked ~ .tvExclusive_slidelist .tvExclusive_slideitem {
left:0;
}
#tvExclusive_slide02:checked ~ .tvExclusive_slidelist .tvExclusive_slideitem {
left:var(--size2);
}
#tvExclusive_slide03:checked ~ .tvExclusive_slidelist .tvExclusive_slideitem {
left:var(--size);

}


.tvExclusive_slide-control [class*="control"] {
display:none;
}
#tvExclusive_slide01:checked ~ .tvExclusive_slide-control .control01 {
display:block;
}
#tvExclusive_slide02:checked ~ .tvExclusive_slide-control .control02 {
display:block;
}
#tvExclusive_slide03:checked ~ .tvExclusive_slide-control .control03 {
display:block;
}
#tvExclusive_slide04:checked ~ .tvExclusive_slide-control .control04 {
display:block;
}

/*TVEXCLUSIVE컨텐츠 끝 */


/* 새로운 컨텐츠 */
.new_slidebox {
	max-width:90%;
	margin:0 auto;
	position:relative;
}
.new_slidebox .new_slidelist {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
}
.new_slidebox .new_slidelist .new_slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
/* 	background:black;
 */	width:100%;
	transition:all 1s;
	
}
.new_slidebox .new_slidelist .new_slideitem .new_slideDiv{
	display:block;
	width:20%;
	float:left;
}
	
.new_slidebox .new_slidelist .new_slideitem .new_slideDiv > a {
	display:block;
	text-align:center;
	position:relative;
	transition:0.3s;
}
.new_slidebox .new_slidelist .new_slideitem .new_slideDiv > a:hover {
	transform:scale(1.3);
	z-index:100;
	transform-origin:50% 100%;
}
.new_slidebox .new_slidelist .new_slideitem .new_slideDiv > a div{
	text-align: left;
    font-weight: bold;
    font-size: 5em;
    position: absolute;
    left: -3%;
    top: -5%;
    background: transparent;
}

.new_slidebox .new_slidelist .new_slideitem .new_slideDiv > a img {
	max-width:90%;
	border-radius:5px;
	
}

.new_slidebox .new_slide-control [class*="control"] label {
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
.new_slidebox .new_slide-control [class*="control"] label.prev {
	left:-50px;
	background:#333 url('/images/video/left-arrow.png') center center / 50% no-repeat;
}
.new_slidebox .new_slide-control [class*="control"] label.next {
	right:-50px;
	background:#333 url('/images/video/right-arrow.png') center center / 50% no-repeat;}

[name="new_slide"] {
display:none;
}
#new_slide01:checked ~ .new_slidelist .new_slideitem {
left:0;
}
#new_slide02:checked ~ .new_slidelist .new_slideitem {
left:var(--size2);
}
#new_slide03:checked ~ .new_slidelist .new_slideitem {
left:var(--size);

}


.new_slide-control [class*="control"] {
display:none;
}
#new_slide01:checked ~ .new_slide-control .control01 {
display:block;
}
#new_slide02:checked ~ .new_slide-control .control02 {
display:block;
}
#new_slide03:checked ~ .new_slide-control .control03 {
display:block;
}
#new_slide04:checked ~ .new_slide-control .control04 {
display:block;
}
/* 새로운 컨텐츠 끝 */


/*로맨스 영화 */
.romance_slidebox {
	max-width:90%;
	margin:0 auto;
	position:relative;
}
.romance_slidebox .romance_slidelist {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
}
.romance_slidebox .romance_slidelist .romance_slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
/* 	background:black;
 */	width:100%;
	transition:all 1s;
	
}
.romance_slidebox .romance_slidelist .romance_slideitem .romance_slideDiv{
	display:block;
	width:20%;
	float:left;
}
	
.romance_slidebox .romance_slidelist .romance_slideitem .romance_slideDiv > a {
	display:block;
	text-align:center;
	position:relative;
	transition:0.3s;
}
.romance_slidebox .romance_slidelist .romance_slideitem .romance_slideDiv > a:hover {
	transform:scale(1.3);
	z-index:100;
	transform-origin:50% 100%;
}
.romance_slidebox .romance_slidelist .romance_slideitem .romance_slideDiv > a div{
	text-align: left;
    font-weight: bold;
    font-size: 5em;
    position: absolute;
    left: -3%;
    top: -5%;
    background: transparent;
}

.romance_slidebox .romance_slidelist .romance_slideitem .romance_slideDiv > a img {
	max-width:90%;
	border-radius:5px;
	
}

.romance_slidebox .romance_slide-control [class*="control"] label {
	position:absolute;
	z-index:10;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}
.romance_slidebox .romance_slide-control [class*="control"] label.prev {
	left:-50px;
	background:#333 url('/images/video/left-arrow.png') center center / 50% no-repeat;
}
.romance_slidebox .romance_slide-control [class*="control"] label.next {
	right:-50px;
	background:#333 url('/images/video/right-arrow.png') center center / 50% no-repeat;}

[name="romance_slide"] {
display:none;
}
#romance_slide01:checked ~ .romance_slidelist .romance_slideitem {
left:0;
}
#romance_slide02:checked ~ .romance_slidelist .romance_slideitem {
left:var(--size2);
}
#romance_slide03:checked ~ .romance_slidelist .romance_slideitem {
left:var(--size);

}


.romance_slide-control [class*="control"] {
display:none;
}
#romance_slide01:checked ~ .romance_slide-control .control01 {
display:block;
}
#romance_slide02:checked ~ .romance_slide-control .control02 {
display:block;
}
#romance_slide03:checked ~ .romance_slide-control .control03 {
display:block;
}
#romance_slide04:checked ~ .romance_slide-control .control04 {
display:block;
}

/* 로맨스 영화 끝 */
