<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainSQL">
 	<resultMap type="main.bean.MainDTO" id="mainResult">
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="password" column="PASSWORD"/>
		<result property="age_restriction" column="AGE_RESTRICTION"/>
		<result property="marketing_agreement" column="MARKETING_AGREEMENT"/>
		<result property="logtime" column="LOGTIME"/>
	</resultMap>
	
	<!-- 회원정보 저장 -->
	<insert id="mainUserDataSave" parameterType="main">
		insert into user_data
			(name, email, password, age_restriction, marketing_agreement, logtime)
			values(#{name}, #{email}, #{password}, #{age_restriction}, #{marketing_agreement}, sysdate)
	</insert>
	
	<!-- 로그인 -->
	<select id="getUser" parameterType="java.util.Map" resultType="main">
		select * from user_data where email='${email}' and password='${password}'
		<!-- select user_id from user_data where email='${email}' and password='${password}' -->		
	</select>
	
	<!-- 카카오 로그인 -->
	<select id="getUserKakao" parameterType="String" resultType="main">
		select * from user_data where email='${email}'
	</select>
	
	<select id="getUserName" parameterType="String" resultType="String">
		select name from user_data where email='${email}'
	</select>
	
	<select id="changeUserName" parameterType="java.util.Map">
		update user_data set name='${name}' where email='${email}'
	</select>
	
	<!-- 비밀번호 확인 -->
	<select id="isExistPassword" parameterType="String" resultType="main">
		select * from user_data where password='${password}'
	</select>
	
	<!-- 비밀번호 변 -->
	<select id="changeNewPassword" parameterType="java.util.Map" >
		update user_data set password='${newPassword}' where password='${password}'
	</select>
	
</mapper>