/* searchHome css */
.search-main{
    padding: 32px 0px 0px;
}
.search_title-area {
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    font-size: initial;
    margin-bottom: 5px;
}
.search_title-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
}
.search_title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 26px;
}
.show-more-button {
    flex-shrink: 0;
    padding-bottom: 3px;
    margin-left: 6px;
}
.unclickable {
	pointer-events: none;
}
.show-more-button-link {
    color: rgb(132, 134, 141);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 20px;
}
.show-more-button-link:hover {
    color: white;
}
.search-content {
	position: relative;
}
.search-content::before {
    left: -40px;
    background: linear-gradient(90deg, #2F0000 70%, rgba(0, 0, 0, 0) 100%);
}
.search-content::after {
    right: -40px;
    background: linear-gradient(270deg, #2F0000 70%, rgba(0, 0, 0, 0) 100%);
}
.search-content::before, .search-content::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    width: 40px;
}
.search-content:hover [class*="slidernav"] {
    display: block;
}
.search-content_lists {
    position: relative;
    z-index: 0;
    white-space: nowrap;
    margin: 0px -6px;
    transition: 750ms ease 0s;
}
.search-content_list {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0px 8px;
    cursor: pointer;
    width: 50%;
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
.search-content_list:hover {
    z-index: 1;
}
.search-content_list_link {
    display: block;
}
.slide-right-slidernav {
    color: rgb(186, 186, 193);
    width: 40px;
    padding: 0px;
    border: 0px;
    outline: none;
    appearance: none;
    background: linear-gradient(270deg, #2F0000 70%, rgba(0, 0, 0, 0) 100%);
    display: none;
    position: absolute;
    top: 0px;
    right: -40px;
    bottom: 0px;
    z-index: 2;
    height: 105%;
}
.slide-left-slidernav {
    color: rgb(186, 186, 193);
    width: 40px;
    padding: 0px;
    border: 0px;
    outline: none;
    appearance: none;
    background: linear-gradient(90deg, #2F0000 70%, rgba(0, 0, 0, 0) 100%);
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -40px;
    z-index: 2;
    height: 105%;
}
.slide-button > span {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-right-slidernav svg, .slide-left-slidernav svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
}
@media screen and (min-width: 56em){
	.search-content_list {
		width: 33.3333%;
	}
}
@media screen and (min-width: 62em){
	.search-content_list {
		width: 25%;
	}
}
@media screen and (min-width: 97em){
	.search-content_list {
		width: 20%;
	}
}
@media screen and (max-width: 47em){
	.search-content_lists {
	    margin: 0px -2px;
	}
	.search-content_list {
    padding: 0px 5px;
	}
}

/* searchTitle css */
.search-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    gap: 12px;
}
.search-link {
    display: block;
    text-decoration: none;
}
.search-link-box {
    position: relative;
    width: 100%;
    height: 100%;
    background:  0% 0% / cover no-repeat rgb(139, 74, 74);
    padding: 56.27% 0px 0px;
    border-radius: 4px;
    overflow: hidden;
}
.search-link-box:hover::after {
	content: "";
	position: absolute;
	inset: 0px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.3);
}
.search-link-box > img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: scale(1.01);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search-link-box_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 8px;
    overflow: hidden;
}
.search-link-box_title > p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width: 1208px){
	.search-grid {
    	grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
	}
}