/* body */
#root {
    width: 100%;
    height: 100%;
}
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

/* find password section */
.find-password-area {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #000;
}
.find-password-image {
    height: 100vh;
}
.find-password-image::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: url("/images/login/login.jpg") center center / cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}
.find-password-image::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgb(18, 18, 24);
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.find-password-box {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.find-password-content {
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 300px;
}
.back-button {
    position: absolute;
    top: -3px;
    left: -46px;
    background: url("/images/login/backcursor.svg") center center / 20px 20px no-repeat;
    width: 34px;
    height: 34px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.find-password-title {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0px 0px 14px;
}
.find-password-email-box,
.find-password-email-box-correct,
.find-password-email-box-wrong {
    position: relative;
    width: 100%;
}
.find-password-email-box-correct::after {
	content: "";
    display: inline-block;
	background: url(/images/login/check.svg) no-repeat;
    position: absolute;
    top: 50%;
    right: 12px;
    bottom: auto;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
.find-password-email-box-wrong::after {
    content: "";
    display: inline-block;
	background: url(/images/login/xmark.svg) no-repeat;
    position: absolute;
    top: 50%;
    right: 12px;
    bottom: auto;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
.find-password-input {
    width: 100%;
    padding: 10px 10px 10px 14px;
    border-radius: 4px;
}
input.find-password-input[type="email"] {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border: 1px solid #d4d4d4;
    border-top-width: 1px;
    border-bottom-width: 0;
}
form > p {
    color: rgb(213, 212, 215);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3px;
    text-align: left;
    padding: 10px 14px 0px;
}
.find-password-button-box {
    margin: 15px 0px 21px;
}
.find-password-button {
    background-color: #F82F62;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    line-height: 51px;
    text-align: center;
    width: 100%;
    height: 52px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 47px;
    height: 48px;
}
.find-password-button:disabled {
    opacity: 0.3;
}