@charset "UTF-8";

.storagetext a{
	color: inherit;
  	text-decoration: none;
}
#videotext, #webtoontext, #recenttext{
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24px;
}

#videotext:hover {
	color: red;
	cursor: pointer;
}
#webtoontext:hover {
	color: red;
	cursor: pointer;
}
.storage_my-hr {
	width: 100%;
    border: 0;
    height: 0.1px;
    margin-right: 70px;
    background: gray;
  }
#recentheart{
	color:white;
	background-color: black;
	text-align: center;
	margin: auto;
    opacity: 0.2;
}

/*--------------- 슬라이드 --------------*/
.section {
	width:100%;
	color:white;
	float:left;
	overflow: hidden;
	margin:0;
	object-fit: contain;
	display: flex;
	position: relative;
}
.section .slidelist{
	margin-left:4%;
	margin-right:4%;
}
.section .slidelist > li{
	display:inline-block;
	vertical-align:middle;
	list-style:none;
	margin-right:1%;
}

.section .slidelist > li > a {
	display: block;
	position: relative;
	cursor:pointer;
	
}
.section .slidelist > li > a img{
	height:280px;
	width:100%;
	margin-bottom: 10px;
}

.madecard{
	width: 11rem;
	float:left;
	color:white;
}

.madecard-title{
	font-size: 12pt;
	margin: 0;
	padding:0;
	margin-top:10px;
    margin-block-end: 0;
    margin-block-start: 0;
}
.madecard-text{
	font-size: 9pt;;
	opacity: 0.5;
	margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom:10px;
}


.slidelist {
	display: flex;
	flex-wrap: nowrap;
	list-style:none;
	overflow: hidden;
}
.list_scroll_left {
	top:25%;
	position: absolute;
	left: 2px;
	width: 70px;
	height: 120px;
	padding: 11px;
	color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	display: flex;
	justify-content: center;
}
.list_scroll_right {
	top:25%;
	right:100%;
	position: absolute;
	right: 2px;
	width: 70px;
	height: 120px;
	padding: 11px;
	color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	display: flex;
	justify-content: center;
}
.list_scroll_right:hover,
.list_scroll_left:hover {
	cursor: pointer;
}

/*------------- 확대 애니메이션 -------------*/

.section .slidelist li a img:hover{
	transform:scale(1.1);
	transition: all 0.2s ease-in-out;
	transform-origin: 50% 50%
}	

/*----------------------------------------*/
#recenttextwebtoon {
	color: white;
	margin-top: 20%;
	margin-bottom: 20px;
	font-size: 24px;
}

.section2 {
	width:100%;
	color:white;
	float:left;
	overflow: hidden;
	margin:0;
	object-fit: contain;
	display: flex;
	position: relative;
}
.section2 .slidelist2{
	width:100%;
	margin-left:4%;
	margin-right:4%;
}
.section2 .slidelist2 > li{
	display:inline-block;
	vertical-align:middle;
	list-style:none;
	margin-right:1%;
}

.section2 .slidelist2 > li > a {
	display: block;
	position: relative;
	cursor:pointer;
	
}
.section2 .slidelist2 > li > a img{
	height:280px;
	width:100%;
	margin-bottom: 10px;
}
.slidelist2 {
	display: flex;
	flex-wrap: nowrap;
	list-style:none;
	overflow: hidden;
}
.list_scroll_left2 {
	top:25%;
	position: absolute;
	left: 2px;
	width: 70px;
	height: 120px;
	padding: 11px;
	color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	display: flex;
	justify-content: center;
}
.list_scroll_right2 {
	top:25%;
	right:100%;
	position: absolute;
	right: 2px;
	width: 70px;
	height: 120px;
	padding: 11px;
	color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	display: flex;
	justify-content: center;
}
.list_scroll_right2:hover,
.list_scroll_left2:hover {
	cursor: pointer;
}